.CardContainer {
  display: flex;
  justify-content: center;
}

.Card {
  width: 351px;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-blend-mode: color;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  cursor: pointer;
  width: 90%;
  position: relative;

  & * {
    color: #ffffff;
  }

  & > * {
    margin: 0 30px;
  }

  &.con {
    background: linear-gradient(244.5deg, #2b81e6 12.9%, #22b4d5 85.63%);
  }

  &.eth {
    background: linear-gradient(244.5deg, #223548 12.9%, #4d6987 85.63%);
  }

  &.conx {
    background: linear-gradient(244.5deg, #c95f72 12.9%, #792721 85.63%);
  }

  & .Network {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  & .BalanceContainer {
    display: flex;
    align-items: center;

    & .Balance {
      font-size: 30px;
      margin-right: 8px;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      & .ConunLogoBalance {
        height: 28px;
        margin-right: 9px;
        transform: translateY(3px);
      }
    }

    & .TokenName {
      text-transform: uppercase;
    }
  }

  & .WalletAddressContainer {
    & .WalletAddress {
      font-size: 13px;
    }

    & .WalletLabel {
      text-transform: uppercase;
      font-size: 10px;
    }
  }

  & .UserName {
    font-size: 10px;
  }
}
