.Button {
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

  &:focus {
    outline: none;
  }

  &.primary {
    background-color: var(--primary-color);
    color: var(--primary-color-font);
  }

  &.secondary {
    background-color: var(--secondary-color);
    color: var(--secondary-color-font);
  }

  &.round {
    border-radius: 20px;
  }

  &:disabled {
    cursor: not-allowed;
    background: #e9ebef;
    box-shadow: none;
    color: #ffff;
  }
}

.NoStyleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
