.Spinner {
  font-size: 3rem;
  border: 0.4em solid #fff;
  border-top-color: var(--primary-color);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: loading-spinner 2s linear infinite;
  margin: 0 auto;
  box-sizing: border-box;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
