.ModalContent {
  padding: 1rem;

  .Form {
    min-width: 80vw;
    & .Title {
      margin-bottom: 20px;
    }

    & .Checkbox {
      margin-bottom: 20px;
    }

    & .PasswordInput {
      margin-bottom: 20px;
    }

    & .ActionButtons {
      display: flex;
      justify-content: space-between;

      & .ActionButton {
        width: 45%;
      }
    }
  }
}
