.SuccessPage {
  display: flex;
  flex-direction: column;
}

.SuccessIconContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
  margin-top: 70px;

  & .SuccessIcon {
    width: 183px;
  }

  & .SuccessText {
    position: absolute;
    font-size: 12px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
  }
}

.Instructions {
  font-size: 12px;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 45px;
}

.ExportContainer {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--bg-secondary);
  border-bottom: 1px solid var(--bg-secondary);
  background-color: var(--bg);
  padding: 31px 55px;
  margin-bottom: 35px;

  & .JsonFileBox {
    display: flex;
    flex-direction: column;

    & .Label {
      text-align: center;
      font-size: 10px;
      margin-bottom: 10px;
    }

    & .JsonIconContainer {
      align-items: center;
      background: #ffffff;
      border: 1px solid var(--primary-color);
      display: flex;
      justify-content: center;
      height: 125px;
      width: 136px;
      border-radius: 10px;
    }
  }
}

.NextButtonContainer {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-right: 50px;

  & .Text {
    margin-right: 6px;
    font-size: 12px;
    color: var(--primary-color);
  }

  & .ArrowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: solid 1.5px var(--primary-color);
    background-color: transparent;

    & .Arrow {
      width: 25px;
      height: 25px;
      fill: var(--primary-color);
    }
  }
}

.ConfirmModal {
  width: 250px;
}

.Content {
  display: flex;
  justify-content: space-evenly;
}

.ConfirmText {
  color: var(--primary-color);
  text-align: center;
  font-size: 12px;
}

.ButtonsContainer {
  display: flex;
  justify-content: space-evenly;
  & > button {
    width: 80px;
    font-size: 12px;
    height: 25px;
    padding: 0;
  }
}
