.TransferPage {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  padding: 38px 30px;
  height: 100vh;

  & .Title {
    color: #666769;
    font-size: 12px;
    margin-bottom: 30px;
    text-align: center;
  }

  & .Checkmark {
    width: 98px;
    height: 98px;
    margin: 0 auto 18px auto;
  }

  & .SuccessBox {
    display: flex;
    background-color: var(--bg-secondary);
    padding: 10px 6px;
    justify-content: space-between;
    margin-bottom: 13px;
    align-items: center;

    & .Amount {
      color: var(--primary-color);
      font-size: 12px;
      text-transform: uppercase;
    }

    & .ToLabel {
      font-size: 10px;
    }

    & .To {
      color: var(--primary-color);
      font-size: 10px;
    }

    & .TransactionIdLabel {
      text-transform: uppercase;
      color: #666769;
      font-size: 10px;
      min-width: 30px;
    }

    & .TransactionId {
      color: var(--primary-color);
      font-size: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;
    }
  }

  & .CloseButton {
    align-self: center;
    margin-top: 22px;
    max-width: 140px;
  }
}

.InProgressPage {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  & .RocketContainer {
    position: absolute;
    z-index: 1;

    & .Rocket {
      height: 200px;
    }
  }

  & .CloudsContainer {
    position: absolute;
    bottom: -10px;
    & .Clouds {
      height: 3696px;
    }
  }

  & .Text {
    color: var(--primary-color);
    position: absolute;
    font-size: 12px;
    bottom: 10%;

    & .TransactionLink {
      color: var(--primary-color);
    }
  }
}
