.TransferPage {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  padding: 38px 30px;
  height: 100vh;

  & .Title {
    color: #666769;
    font-size: 12px;
    margin-bottom: 30px;
    text-align: center;
  }

  & .TotalContainer {
    margin-bottom: 10px;
    & .TotalTitle {
      text-transform: uppercase;
      color: #666769;
      font-size: 10px;
      align-self: flex-end;
      margin-bottom: 5px;
    }

    & .Box {
      background-color: var(--bg-secondary);
      padding: 9px 12px;

      & .Amount {
        color: var(--primary-color);
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }

  & .WalletDetailsContainer {
    margin-bottom: 90px;
    & .WalletTitle {
      text-transform: uppercase;
      color: #666769;
      font-size: 10px;
      margin-bottom: 5px;
    }

    & .Box {
      background-color: var(--bg-secondary);
      padding: 12px;

      & > :first-child {
        margin-bottom: 8px;
      }

      & .WalletDetail {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .Label {
          font-size: 10px;
          color: #a6a6a6;
        }

        & .Address {
          font-size: 10px;
          color: #a6a6a6;
          text-transform: uppercase;
        }
      }
    }
  }

  & .ButtonsContainer {
    display: flex;
    justify-content: space-between;

    & .Button {
      width: 138px;
    }
  }
}
