.Footer {
  height: 32px;
  display: flex;
  border-top: 1px solid #e9ebee;
  align-items: center;
  width: 100vw;
  position: relative;

  &.isAuthenticated {
    width: calc(100vw - 24px);
  }
}

.Versioning {
  justify-self: flex-start;

  & .Version {
    font-size: 10px;
    padding: 0 1rem;
  }

  & .Updates {
    display: flex;
    font-size: 10px;
    padding: 0 1rem;
    color: #8bbea9;
    text-decoration: none;
  }
}

.HistoryButton {
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.HistoryIcon {
  fill: var(--primary-color);
  width: 20px;
  height: 20px;
}
