.BackButton {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 35px;
  left: 22px;

  & .Arrow {
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
    fill: var(--arrow-grey);
  }
}

.Title {
  font-size: 24px;
  margin-top: 120px;
  margin-bottom: 12px;
  color: var(--primary-color);
}

.Subtitle {
  color: var(--primary-color);
  font-size: 9px;
  margin-bottom: 20px;
}

.TermsAndConditionsContainer {
  margin-bottom: 20px;
}

.TermsAndConditions {
  width: 280px;
  height: 260px;
  font-size: 10px;
}

.Checkbox {
  margin-bottom: 27px;
}
